
<div class="text-center">
    <h1 class="display-4">Index from books</h1>
   
</div>
@model List<BookViewModel>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Year of Publishing</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Genre</th>
            <th>Author Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.YearOfPublishing</td>
                <td>@book.Price</td>
                <td>@book.Quantity</td>
                <td>@book.Genre</td>
                <td>@book.AuthorName</td>
            </tr>
        }
    </tbody>
</table>
